body {
    background-color: #111111;
    text-align: center;
}

h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 25pt;
}

p {
    color: #eeeeee;
    text-align: center;
    font-size: 20pt;
    line-height: 30pt;
}

section {
    display: inline-block;
    width: 61%;
}

.credits {
    color: #49DAFF;
    text-decoration: underline;
    cursor: pointer;
}

.film-description {
   font-size: 15pt;
   font-style: italic;
}